#ColorPicker-container input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px; 
    height: 18px;
    background: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 0 1px #e4e4e7; 
    cursor: pointer;
    border-radius: 50%;
  }
  #ColorPicker-container input[type='range']::-moz-range-thumb {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 0 1px #e4e4e7;
  }
  #ColorPicker-container input[type='range']::-ms-thumb {
    width: 18px;
    height: 18px;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 0 1px #e4e4e7;
  }

  .dark input[type='range']::-webkit-slider-thumb {
    border: 4px solid rgb(24 24 27);
    box-shadow: 0 0 0 1px #3f3f46; 
  }
  .dark input[type='range']::-moz-range-thumb {
    border: 4px solid rgb(24 24 27);
    box-shadow: 0 0 0 1px #3f3f46; 
  }
  .dark input[type='range']::-ms-thumb {
    border: 4px solid rgb(24 24 27);
    box-shadow: 0 0 0 1px #3f3f46; 
  }