:root{
    --form-color:rgba(0, 0, 0, 0.7);
    --mode-btn-color:rgba(37, 33, 0, 0.7);
}

.WebPainter--Panel {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: var(--form-color);
    border-radius: 10px;
    padding: 15px 5px;
    height: 30px;
    display: flex;
    align-items: center;

    z-index: 16000001;
  }
  
  .WebPainter--Panel .WebPainter--icon-btn {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.2s ease;
  }

  .WebPainter--Panel .WebPainter--mode-btn{
    background-color: var(--mode-btn-color);
  }

  .WebPainter--Panel .WebPainter--icon-btn.mode-active{
    border: 2px solid green;
  }
  
  .WebPainter--Panel .WebPainter--icon-btn:hover {
    transform: scale(1.2);
  }
  
  .WebPainter--Panel .WebPainter--icon-btn:focus {
    outline: none;
  }
  

  .WebPainter--ColorPicker{
    position: fixed;
    z-index: 16000001;
  }

  
  #ColorPicker-container{
    background-color: var(--form-color);
  }

  #color-value{
    color:white;
  }

  #ColorPicker--result-container{
    cursor:grab;
    margin-right: 4px;
    width: 8.8rem;
  }

  #ColorPicker--result-container:hover{
    transform: scale(1.1);
  }

